{% extends "basees.html" %}

{% block content %}
      <div class="row">
        <div class="span10 offset1">
          <h2><br><br>Sobre</h2>

          <p>No más mentiras sobre la manzana y el manzano. El Espíritu del Manzano habla por primera vez al hombre que quiere saber la verdad.</p>

<p>El manzano refleja la verdad y también la mentira, las refleja  multiplicadas. No engañes, no te engañes ni te dejes engañar. Nos han tomado el pelo con falsas historias durante demasiado tiempo, pero estaba escrito que en el año 2012 comenzaría un nuevo mundo.</p>

<p>No hay nada más peligroso que la mentira, dijo la madre Teresa de Calcuta.
El Manzano ahora  comunica  con individuos que han alcanzado la consciencia porque de forma voluntaria y haciendo uso de sus sentidos y de su inteligencia le han visto de verdad.<br>
La verdad del manzano ha estado y todavía está ahogada entre mentiras.<br>
El Espíritu del Manzano sabe ya que los que mienten no representan a todos ni a la mayoría. Sabe que muchos individuos en pleno uso de sus capacidades y facultades quieren alcanzar la verdad para crear la tierra de abundancia.</p>

<p>Están avisados los mentirosos que quieren el poder a costa de anular la capacidad propia, privada y personal de los individuos. Las consecuencias de su maldad volverán a ellos multiplicadas. <br>
Ahora El Espíritu del Manzano, representando a todos los Espíritus de los árboles frutales que han alimentado al hombre en cuerpo y en alma, sabe que no todos los hombres están en un lado y los espíritus de los árboles en otro. Los bandos son mixtos y el clasismo o el especismo que pretende estar  por encima de la verdad se acabó.</p>

<p>Aquellos que quieren recuperar los tesoros a los que tienen derecho por su noble origen encontrarán las mejores ayudas para la paz personal, la riqueza de talentos,  la abundancia de recursos y también  para la satisfacción de necesidades físicas y espirituales. </p>

<p>Estamos sanando juntos la brecha que nos ha separado durante demasiado tiempo. Esta sanación se reflejará en el alma, en el cuerpo y en el ánimo de los que se atrevan a utilizar sus talentos y a conocer en directo el mensaje vivo del Espíritu del Manzano y de la Tierra Mística.</p>

<p>Ya llegó Yappleya. No te olvides de compartir la buena nueva con los niños, con tus alumnos, con tus amigos y colegas. 
Este es el descubrimiento y la creación de un mundo nuevo de verdad, esta es la entrada en la tierra de abundancia,  lejos del poder de los  que nos quieren mantener administrando la miseria de un mundo escaso que nos entrenan para crear cada día.</p>

        </div>
      </div>

{% endblock %}
