{% extends "base.html" %}

{% block content %}
      <div class="hero-unit">
        <h1>
          <img src="/public/titles/portada_duende_navidad_300x360.png" 
                    alt="The Christmas Pixie" width="100" height="120"
                    onmouseover="javascript:this.src='/public/titles/portada_duende_navidad_300x360_light.png';"
                    onmouseout="javascript:this.src='/public/titles/portada_duende_navidad_300x360.png';" />
                    The Christmas Pixie</h1>
        <p><br>In this book parents and children shall find a new divine and magic meaning for Christmas. The Christmas pixie opens up for children and adults the real Christian spirit of this celebration that pixies also celebrate. </p>
        <p>The divine and magic secret that has remain hidden for longer period is revealed now as the apple tree   spirit has manifest.</p>
        <p>The beauty of truth overwhelms any fantasy. It is a story with soul and much joy.
          Enjoy with your children, with your pupils, with friends the real images of pixies in search for their spirit.</p>
        
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <h1>Get the book</h1>
        <div class="span4">
          <p><a class="btn" href="#">Google Play: coming soon</a></p>
        </div>
        <div class="span4">
          <p><a class="btn" href="#">Amazon Kindle : coming soon</a></p>
       </div>
        <div class="span4">
          <p><a class="btn" href="#">Buy it : coming soon</a></p>
        </div>
      </div>

{% endblock %}