{% extends "basees.html" %}

{% block content %}
      <div class="hero-unit">
        <h1>
          <img src="/public/titles/portada_espiritu_manzano_300x360.png" 
                    alt="El Espíritu del Manzano" width="100" height="120"
                    onmouseover="javascript:this.src='/public/titles/portada_espiritu_manzano_300x360_light.png';"
                    onmouseout="javascript:this.src='/public/titles/portada_espiritu_manzano_300x360.png';" />
                 ¡Redescubre El Espíritu del Manzano!</h1>
        <p>Durante siglos El Espíritu del Manzano se  ha comunicado de diversas formas con el hombre y siempre su mensaje ha sido secuestrado e interpretado por la cultura dominante robándole el verdadero poder revolucionario que tiene.</p>
        
        <p>Pero ha llegado la hora en la que este mensaje se transmita  de forma íntegra con todo el poder del Espíritu del Manzano, sin interpretaciones tendenciosas. </p>

        <p>Este es el mensaje de poder del Espíritu del Manzano y de su fruto, la manzana para aquel que tiene ojos para ver. Por primera vez se transmite como el Espíritu del Manzano ha querido.</p>

        <p>Puedes participar en la revolución del poder de la verdad devolviendo al Espíritu del Manzano su verdadero papel en la historia de la evolución del hombre. Bienvenido a www.yappleya.com </p>
        
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <h1>Descargar el libro</h1>
        <div class="span4">
          <p><a class="btn" href="#">Google Play:pendiente (procesando)</a></p>
        </div>
        <div class="span4">
          <p><a class="btn" href="#">Amazon Kindle: en breve</a></p>
       </div>
        <div class="span4">
          <p><a class="btn" href="http://gum.co/PmqB" class="gumroad-button">El Espíritu Del Manzano</a><script type="text/javascript" src="https://gumroad.com/js/gumroad-button.js"></script><script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script></a></p>
        </div>
      </div>

{% endblock %}
