{% extends "base.html" %}

{% block content %}
      <div class="hero-unit">
        <h1>
          <img src="/public/titles/portada_espiritu_manzano_300x360.png" 
                    alt="El Espíritu del Manzano" width="100" height="120"
                    onmouseover="javascript:this.src='/public/titles/portada_espiritu_manzano_300x360_light.png';"
                    onmouseout="javascript:this.src='/public/titles/portada_espiritu_manzano_300x360.png';" />
          Let's rediscover the Apple Tree Spirit!</h1>
        <p>For centuries The Apple Tree Spirit has tried to communicate in different ways with human beings and always his message has been kidnapped and interpreted by the dominant culture that stole the revolutionary power of the message.</p>
        <p>But time has come for the message to be transmitted fully with all the power of the Apple Tree Spirit, without interpretations. 
        This is the message of power of the Apple Tree Spirit and its fruit the apple for those who have eyes to see.</p>
        <br>
        <p>You can participate in this powerful revolution of the truth of the Apple Tree Spirit giving back his true importance in the history of evolution. If you are brave enough to participate in big changes welcome to Yappleya.</p>
        
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <h1>Get the book</h1>
        <div class="span4">
          <p><a class="btn" href="#">Google Play:coming soon</a></p>
        </div>
        <div class="span4">
          <p><a class="btn" href="#">Amazon Kindle: coming soon</a></p>
       </div>
        <div class="span4">
          <p><a class="btn" href="#">Buy it: coming soon</a></p>
        </div>
      </div>

{% endblock %}