{% extends "basees.html" %}

{% block content %}
      <div class="hero-unit">
        <h1>
        <img src="/public/titles/portada_duende_navidad_300x360.png" 
                    alt="El Duende de la Navidad" width="100" height="120"
                    onmouseover="javascript:this.src='/public/titles/portada_duende_navidad_300x360_light.png';"
                    onmouseout="javascript:this.src='/public/titles/portada_duende_navidad_300x360.png';" />
          El Duende de la Navidad</h1>
        <p><br>En este libro los niños y padres encontrarán un  nuevo sentido divino y mágico de la navidad.</p>

        <p>El duende de la navidad descubre a los niños y a los mayores el verdadero espíritu cristiano de estas fiestas que los duendes también celebran. El secreto mágico y divino que más tiempo ha permanecido oculto se desvela ahora por voluntad del  espíritu del manzano.</p>

        <p>La belleza de la verdad supera cualquier fantasía. Es una historia divertida y con alma que entusiasma a niños y mayores.</p>

        <p>Disfruta con tus hijos, alumnos o amigos de imágenes verdaderas de duendes en busca de su espíritu.</p>
        
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <h1>Descargar el libro</h1>
        <div class="span4">
          <p><a class="btn" href="#">Google Play: pendiente(procesando)</a></p>
        </div>
        <div class="span4">
          <p><a class="btn" href="#">Amazon Kindle: en breve</a></p>
       </div>
        <div class="span4">
          <p><a class="btn" href="http://gum.co/BjGR" class="gumroad-button">El Duende de la Navidad</a><script type="text/javascript" src="https://gumroad.com/js/gumroad-button.js"></script><script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script></p>
        </div>
      </div>

{% endblock %}
