{% extends "base.html" %}

{% block content %}
      <div class="hero-unit">
        <div class="row-fluid">
          <div class="span6 offset2>">
            <p>
              <center>
                <img src="/public/titles/portada_espiritu_manzano_300x360.png" 
                    class="clickImage"
                    alt="The Apple Tree Spirit" width="300" height="360"
                    onmouseover="javascript:this.src='/public/titles/portada_espiritu_manzano_300x360_light.png';"
                    onmouseout="javascript:this.src='/public/titles/portada_espiritu_manzano_300x360.png';"
                    onclick="javascript:location.href='/book01'" />
              </center>
            </p>
          </div>
          <div class="span6 offset2>">
            <p>
              <center>
                <img src="/public/titles/portada_duende_navidad_300x360.png" 
                    class="clickImage"
                    alt="El Duende de la Navidad" width="300" height="360"
                    onmouseover="javascript:this.src='/public/titles/portada_duende_navidad_300x360_light.png';"
                    onmouseout="javascript:this.src='/public/titles/portada_duende_navidad_300x360.png';"
                    onclick="javascript:location.href='/book02'" />
              </center>
            </p>
          </div>
         </div>    
      </div>
      <blockquote>
            <h4>"www.yappleya.com is here now. Do not forget to share the good new with the children, with your pupils, with your friends and colleagues. It is a real breakthrough, a revolutionary discovery and
            the birth of a real new world. This is the entrance to the land of abundance, away from the false power of those who want us to continue administrating the misery of the scarce world we are create day by day."</h4>
            <small>Raquel Cachafeiro </small>
      </blockquote>

      

{% endblock %}