{% extends "basees.html" %}

{% block content %}

      <div class="hero-unit">
        <div class="row-fluid">
          <div class="span6 offset2>">
            <p>
              <center>
                <img src="/public/titles/portada_espiritu_manzano_300x360.png" 
                    class="clickImage"
                    alt="El Espíritu del Manzano" width="300" height="360"
                    onmouseover="javascript:this.src='/public/titles/portada_espiritu_manzano_300x360_light.png';"
                    onmouseout="javascript:this.src='/public/titles/portada_espiritu_manzano_300x360.png';"
                    onclick="javascript:location.href='/book01'" />
              </center>
            </p>
          </div>
          <div class="span6 offset2>">
            <p>
              <center>
                <img src="/public/titles/portada_duende_navidad_300x360.png" 
                    class="clickImage"
                    alt="El Duende de la Navidad" width="300" height="360"
                    onmouseover="javascript:this.src='/public/titles/portada_duende_navidad_300x360_light.png';"
                    onmouseout="javascript:this.src='/public/titles/portada_duende_navidad_300x360.png';"
                    onclick="javascript:location.href='/book02'" />
              </center>
            </p>
          </div>
         </div>    
      </div>
      <blockquote>
             <h4>"Ya llegó Yappleya. No te olvides de compartir la buena nueva con los niños, con tus alumnos, con tus amigos y colegas. Este es el descubrimiento y la creación de un mundo nuevo de verdad, esta es la entrada en la tierra de abundancia, lejos del poder de los que nos quieren mantener administrando la miseria de un mundo escaso que nos entrenan para crear cada día."</h4>
            <small>Raquel Cachafeiro </small>
      </blockquote>

{% endblock %}
