{% extends "base.html" %}

{% block content %}
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><img src="../public/logo_yappleya_60x60.png"></a>
          <a class="brand" href="/">Yappleya</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/about">About</a></li>
              <li><a href="http://blog.yappleya.com">Blog</a></li>
              <li><a id="fuckspammers" href="" target = "_blank">Contact</a></li>
            </ul>
            <ul class="nav">
              <li><a href="#"></a></li>
              <li><a href="/sobre"><img src="../public/assets/img/spanish.jpg" alt="spanish" title="En español"></a></li>
            </ul>
            <div class="pull-right">
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_compact"></a>
              </div>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50c260c420adf67d"></script>
              <!-- AddThis Button END -->
            </div> <!-- pull-right -->
          </div>
        </div>  <!-- container -->
      </div>  <!-- navbar-inner -->
    </div> <!-- navbar-inverse navbar-fixed-top -->

    <div id="maximage">
      <img src="../public/bg/0.jpg" width="1920" height="1285" />
      <img src="../public/bg/1.jpg" width="1920" height="1273" />
      <img src="../public/bg/2.jpg" width="1920" height="1273" />
      <img src="../public/bg/3.jpg" width="1920" height="1273" />
      <img src="../public/bg/4.jpg" width="1920" height="1277" />
    </div>
    <div class="container">
      <div class="hero-unit">
        <div class="row-fluid">
      <div class="row">
        <div class="span10 offset1">
          <h2>About</h2>
          <p>No more lies about the Apple tree and the Apple. The Apple Tree Spirit speaks now for the first time to human beings who want to know the truth.</p>

<p>The Apple Tree reflects the truth and the lies and multiplies both. Be aware do not try  to betray anyone, do not lie to yourself, do not allow lies to drive you to false worlds. We have been cheated with false stories for too long, but it was written that in 2012 a new world would start.</p>

<p>There is nothing more dangerous than lies   said Mother Therese of Calcuta.</p>

<p>The Apple tree Spirit communicates now with individuals that have reached consciousness using their senses and the intelligence with free will to know and see the truth.</p>

<p>The Apple Tree Spirit knows now that those who lie do not represent all humans or the majority of human beings. He knows that many individuals with their capacity to think and the ability to know want to achieve the truth to create the land of abundance.<br>
<p>Be aware if you are of those who achieve power holding on to other´s personal and prívate right to see and know by themselves. Time for the dirty game is over. 
Now Spirit Man and Spirit Tree know that is not a classification of stupid, mechanical trees on one side and all men on the other but mix teams  to work for the land of abundance.</p>

<p>Those who want to recover the treasures that are theirs for their divine origin shall have best helpers for personal peace, for multiplying their talents, for healing and for abundance in whatever they may need physically or spiritually. <br>
<p>We are healing together the big abyss that has separated us for too long. This healing shall be reflected in body and soul and shall strengthen the will to live of those brave enough to use their talents to know by day by day the message of the Apple Tree Spirit and the Mistic Earth. </p>

<p>Yappleya is here now. Do not forget to share the good new with the children, with your pupils, with your friends and colleagues. <br>
It is a real breakthrough, a revolutionary discovery and the birth of a real new world. This is the entrance to the land of abundance, away from the false power of those who want us to continue administrating the misery of the scarce world we are create day by day.</p>
        </div>
      </div>

{% endblock %}