<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <title>Ya llegó Yappleya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="es-ES">
    <meta name="description" content="Este es el descubrimiento y la creación de un mundo nuevo de verdad, esta es la entrada en la tierra de abundancia, lejos del poder de los que nos quieren mantener administrando la miseria de un mundo escaso que nos entrenan para crear cada día.">
    <meta name="author" content="Luis Miguel y Luis Iván Cuende" >
    <meta name="keywords" content="magia,milagro,duende,espíritu,manzano,manzana,2012,nuevo mundo,apocalipsis, metamorfosis,sublime,misterio,poder,pecado original,tesoro,mentira,mentiroso,abundancia,verdad,oculto,naturaleza">
    <meta name="keywords" content="hombre verde,biomimesis,cristo,el jardinero,castigo,catedral,sanación,hadas,destino,profecía,navidad,celebración,año,nacimiento,semana santa">
    <meta name="application-name" content="Yappleya">
    <link type="text/css" rel="stylesheet" href="/public/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://raw.github.com/akv2/MaxImage/master/lib/css/jquery.maximage.min.css" />
	 <style type="text/css">
      .pull-right {
        width: 200px;
        margin-top: 10px;
      }
      .hero-unit {
        margin-top: 80px;
      }
      h1, .hero-unit a {
        text-align: center;
      }
      .row {
        margin-top: 50px;
      }
      .container {
        background: #DDD;
        padding: 20px;
        display:none;
      }
      #maximage {
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: -1000;
      }
      a.brand:hover {
        color:white !important;
      }
      .clickImage {
        cursor: pointer;
      }
    </style>

    <link rel="shortcut icon" href="../public/logo_yappleya_min.png">
    <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() { 
        var string = "ma" + "il" + "to" + ":raquel" + "@" + "raquelcachafeiro.com";
        $("#fuckspammers").attr("href", string);
      });
      </script>
  </head>
        
  

      {% block content %}{% endblock %}

      <hr>

      <footer>
        <p>© Yappleya 2012</p>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="pull-left">
              <div class="fb-like" data-href="http://www.facebook.com/pages/Yappleya/532553216756050?ref=hl" data-send="  true" data-width="450" data-show-faces="true" data-font="verdana"></div>
            </li>
            <li class="pull-left">
              <a href="https://twitter.com/yappleya" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @yappleya</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
          </ul>
        </div>
      </footer>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Script for send an email -->
    <script type="text/javascript">
      $(document).ready(function() { 
        var string = "ma" + "il" + "to" + ":soporte" + "@" + "yappleya.com";
        $("#fuckspammers").attr("href", string);
      });
      </script>  
    <!-- Script for like button of Facebook -->  
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      <!-- Script for Google Analytics -->
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37453145-1']);
        _gaq.push(['_setDomainName', 'yappleya.com']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
      <!-- Background carrousel pictures -->
      <script src="http://malsup.github.com/jquery.cycle.lite.js"></script>
      <script src="https://raw.github.com/akv2/MaxImage/master/lib/js/jquery.maximage.min.js"></script>
      <script>
        $(document).ready(function() {
        $('#maximage').maximage({verticalCenter: true, horizontalCenter: true, backgroundSize: 'cover', fillElement: "window"});
        $('.container').slideDown(1000);
        });
      </script>


  </body>
</html>
