{% extends "basees.html" %}

{% block content %}
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/principal"><img src="../public/logo_yappleya_60x60.png" alt="yappleya"></a>
          <a class="brand" href="/principal">Yappleya</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/sobre">Sobre</a></li>
              <li><a href="http://blog.yappleya.com">Blog</a></li>
              <li><a id="fuckspammers" href="" target = "_blank">Contacto</a></li>
            </ul>
            <ul class="nav">
              <li><a href="#"></a></li>
              <li><a href="/book02"><img src="../public/assets/img/english.jpg" title="Translate to english" alt="english"></a></li>
            </ul>  
            <div class="pull-right">
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_compact"></a>
              </div>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50c260c420adf67d"></script>
              <!-- AddThis Button END -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="maximage">
      <img src="../public/bg/0.jpg" width="1920" height="1285" />
      <img src="../public/bg/1.jpg" width="1920" height="1273" />
      <img src="../public/bg/2.jpg" width="1920" height="1273" />
      <img src="../public/bg/3.jpg" width="1920" height="1273" />
      <img src="../public/bg/4.jpg" width="1920" height="1277" />
    </div>
    <div class="container">
      <div class="hero-unit">
        <h1>
        <img src="/public/titles/portada_duende_navidad_300x360.png" 
                    alt="El Duende de la Navidad" width="100" height="120"
                    onmouseover="javascript:this.src='/public/titles/portada_duende_navidad_300x360_light.png';"
                    onmouseout="javascript:this.src='/public/titles/portada_duende_navidad_300x360.png';" />
          El Duende de la Navidad</h1>
        <p><br>En este libro los niños y padres encontrarán un  nuevo sentido divino y mágico de la navidad.</p>

        <p>El duende de la navidad descubre a los niños y a los mayores el verdadero espíritu cristiano de estas fiestas que los duendes también celebran. El secreto mágico y divino que más tiempo ha permanecido oculto se desvela ahora por voluntad del  espíritu del manzano.</p>

        <p>La belleza de la verdad supera cualquier fantasía. Es una historia divertida y con alma que entusiasma a niños y mayores.</p>

        <p>Disfruta con tus hijos, alumnos o amigos de imágenes verdaderas de duendes en busca de su espíritu.</p>
        
      </div>

      <!-- Example row of columns -->
		   
      <div class="row">
        <h1>Descargar el libro</h1>
        
        <div class="span4">
          <p><a class="btn" href="#">Google Play: pendiente(procesando)</a></p>
        </div>
        <div class="span4">
          <p><a class="btn" href="http://www.amazon.es/El-Duende-Navidad-ebook/dp/B00AVMEAO4/ref=sr_1_1?s=books&ie=UTF8&qid=1357204637&sr=1-1" target="_blank">Amazon Kindle</a></p>
        </div>
        <div class="span4">
          <p><a class="btn" href="https://www.e-junkie.com/ecom/gb.php?i=1191750&c=single&cl=236394" target="ejejcsingle"><img src="http://www.e-junkie.com/ej/x-click-butcc.gif" border="0" alt="Buy Now"/>Comprar PDF</a></p>
        </div>
      </div>
		
{% endblock %}
